// general colors
.c-cyan { color: var(--cyan) }
.c-blue { color: var(--blue) }
.c-blue-light { color: var(--blue-light) }
.c-yellow { color: var(--yellow) }
.c-white { color: white }

// background colors
.bg-cyan { background: var(--cyan) }
.bg-blue { background: var(--blue) }
.bg-blue-light { background: var(--blue-light) }

// variables
:root {
  --cyan: #1fb6ff;
  --blue: #273444;
  --blue-light: #81818f;
  --yellow: #fbc70b;
}
