a.l-blue-light {
  color: var(--blue-light);

  &:hover, 
  &:focus {
    color: var(--orange);
    text-decoration: underline;
  }
}

a.l-orange {
  color: var(--orange);

  &:hover, 
  &:focus {
    color: var(--orange);
    text-decoration: underline;
  }
}
