.work {
  img {
    &.-opacity {
      opacity: 0.5;
      transition: all .2s;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .linkWork {
    color: $gray-medium;

    &:hover,
    &:focus {
      color: $magenta;
      transition: all .2s;
    }
  }
}

.home {
  .btn {
    &.-cyan {
      &:hover,
      &:focus {
        color: $blue !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .work {
    .row .u-marginTop40 {
      margin-top: 30px !important;
    }

    .col-sm-4 {
      height: 65px;
    }
  }
}

@media (max-width: 768px) {
  .service {
    h2.u-marginTop30,
    .u-h2.u-marginTop30 {
      margin-top: 0px !important;
    }
  }
}

@media (max-width: 450px) {
  .work {
    .row .u-marginTop40 {
      margin-top: 0px !important;
    }
  }
}
