.service,
.work,
.process,
.contact {
  padding: 50px 0;
}

.work {
  background-color: $gray-light;

  img {
    &.-opacity {
      opacity: 0.5;
      transition: all .2s;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .linkWork {
    color: $gray-medium;

    &:hover,
    &:focus {
      color: $magenta;
      transition: all .2s;
    }
  }
}

.home {
  .btn {
    &.-cyan {
      &:hover,
      &:focus {
        color: $blue !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .work {
    .row .u-marginTop40 {
      margin-top: 10px !important;
    }

    .col-sm-3 {
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .service,
  .work,
  .process,
  .contact {
    padding: 40px 0;
  }

  .service {
    h2.u-marginTop30,
    .u-h2.u-marginTop30 {
      margin-top: 0px !important;
    }
  }
}

@media (max-width: 450px) {
  .service,
  .work,
  .process,
  .contact {
    padding: 30px 0;
  }

  .work {
    .row .u-marginTop40 {
      margin-top: 0px !important;
    }
  }
}
