// # =================================================================
// # MVP page
// # =================================================================
.mvp {
  .btn {
    &.-cyan {
      &:hover,
      &:focus {
        color: $blue !important;
      }
    }
  }

  .tooltip {
    opacity: 1;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $cyan;
  }

  .tooltip-inner {
    background-color: $cyan;
    color: $blue;
    padding: 5px 11px;
  }
}

.mvpProblem,
.mvpWhy {
  p {
    line-height: 1.7rem;
  }
}

.mvpProblem {
  i {
    font-size: 5.25rem;
    color: $cyan;
  }
}

.mvpWhy {
  i {
    color: $cyan;
    font-size: 6.25rem;
  }
}

#demo {
  h2 {
    font-size: 1.9375rem;
  }

  .btn {
    float: left;
  }
}

.mvpProcess {
  .processBox {
    min-height: 320px;
  }

  .table-responsive {
    border: 0;
  }

  table.table-striped {
    background-color: $gray-light;
    font-size: .875rem;

    thead {
      color: white;
      background-color: $blue;
      font-size: .75rem;

      th {
        border: 0;
      }
    }

    tbody {
      font-family: 'Montserrat-Light';

      td {
        border: 0;
      }
    }

    & > tbody > tr > td,
    & > thead > tr > th {
      padding: 10px 15px;
    }

    & .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: $gray;
    }
  }

  .table-rounded {
    border-collapse: separate;
    border-radius: $globalRadius;

    & th {
      border-top: none;
    }

    & th:first-child {
      border-radius: $globalRadius 0 0 0;
    }

    & th:last-child {
      border-radius: 0 $globalRadius 0 0;
    }

    & th:only-child{
      border-radius: $globalRadius $globalRadius 0 0;
    }

    & tr:last-child td:first-child {
      border-radius: 0 0 0 $globalRadius;
    }

    & tr:last-child td:last-child {
      border-radius: 0 0 $globalRadius 0;
    }
  }
}

@media (max-width: 1199px) {
  .mvpProcess {
      .processBox {
        min-height: 394px;
      }
    }
}

@media (max-width: 769px) {
  .mvp {
    .mvpWorklist {
      .workItem {
        padding: 40px 0 0 !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .mvpProcess {
    .processBox {
      min-height: auto;
    }
  }
}

@media (max-width: 600px) {
  .mvpProblem,
  .mvpWhy {
    i {
      font-size: 3.25rem;
      margin-top: 5px !important;
    }

    p {
      margin-bottom: 15px !important;
    }
  }

  .mvpWhy {
    h3 {
      margin-top: 5px !important;
    }
  }

  .mvpResult {
    padding: 50px 0 30px;
  }
}