// # =================================================================
// # Startups page
// # =================================================================
.startups {
  .btn {
    &.-cyan {
      &:hover,
      &:focus {
        color: $blue !important;
      }
    }
  }

  section.course {
    background-color: $gray-light;
    padding: 60px 0;
    margin-bottom: 0;
    h2 {
      .small {
        color: $magenta;
      } 
    }
    p.subtitle {
    }
  }
}
