.workItem {
  padding: 70px 0 0;
  overflow: hidden;

  &.-gray {
    background-color: $gray-light;
  }

  .img-responsive {
    box-shadow: 0 .5em 2em rgba(0,0,0,0.2);
  }

  h2 {
    font-size: 2.6rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.7em;
    font-family: 'Montserrat-Light', Open Sans, sans-serif;
    color: $gray-dark;
  }

  ul {
    list-style: none;

    li {
      vertical-align: middle;
      margin-left: -10px;

      &:before {
        color: gray;
        content: "・ ";
        font-size: 1.5rem;
        line-height: 1em;
        margin-left: -5px;
        margin-right: -5px;
        display: table-cell;
      }
    }

    h3 {
      font-size: 0.875rem;
      line-height: 1.3em;
      display: table-cell;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.workRow {
  display: table;
  margin-left: -15px;
  margin-right: -15px;
}

.workImage,
.workText {
  display: table-cell;
  padding-left: 15px;
  padding-right: 15px;

  .img-responsive {
    margin-bottom: -1px;
  }
}

.workText {
  width: 41.66666667%;
}

.workImage {
  width: 58.33333333%;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .workItem{
    .img-responsive {
      margin-bottom: 20px;
    }
  }

  .workImage,
  .workText {
    width: 100%;
    float: left;
  }
}
