br
br
br
br
= link_to 'startups', startups_path
br
= link_to 'mvp_slim', mvp_slim_path
br
= link_to 'strategy_call', strategy_call_path
br
= link_to 'mvp_concierge', mvp_concierge_path
br
= link_to 'validation', validation_path
