html,
body {
  min-height: 100%;
  color: $black;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
    transition: all .2s;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-body {
  flex: 1;
}
