html,
body {
  min-height: 100%;
  color: $black;
  word-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
}

a {
  outline: none !important;

  &:hover,
  &:focus {
    text-decoration: none;
    transition: all .2s;
  }
}

.pY-19 { padding-top: 19px; padding-bottom: 19px; }
