// =========== Imports
@font-face {
  font-family: 'Montserrat-Light';
  src: asset-url('Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
       asset-url('Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       asset-url('Montserrat-Light.otf')  format('opentype')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: asset-url('Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       asset-url('Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       asset-url('Montserrat-Regular.otf')  format('opentype')
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: asset-url('Montserrat-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       asset-url('Montserrat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       asset-url('Montserrat-SemiBold.otf')  format('opentype')
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: asset-url('Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       asset-url('Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       asset-url('Montserrat-Bold.otf')  format('opentype')
}

// =========== Styles

body {
  font-family: 'Montserrat-Regular', Open Sans, sans-serif;
}

strong {
  font-family: 'Montserrat-Bold', Open Sans, sans-serif;
}

.subtitle {
  font-family: 'Montserrat-Light', Open Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5em;

  &.small {
    font-size: 0.875rem;
    line-height: 1.7em;
  }
}
