if (<%= @contact.errors.any? %>) {
  $('.flash').html('<div class="alerts-error wrapper"><div class="alerts-error">Revise os campos com erro!</div></div>')
  Website.Flash.init();
} else {
  $('.flash').html('<div class="notice wrapper"><div class="notice">Obrigado(a) pelo contato! Em breve retornaremos.</div></div>')
  Website.Flash.init();
  ga('send', 'event', 'Contato', 'Formulário contato', 'Envio de formulário de contato')
  window.location.hash = 'obrigado';
}

$(".contactForm").html($("<%= escape_javascript(render partial: 'pages/contact', locals: { contact: @contact }) %>"));
Website.Maskmoney.init()
