// =========== Brand
$cyan: #00e3f4;
$purple: #4d3669;
$magenta: #e53d7b;
$blue: #3e3f68;

// =========== Blacks
$black: #333;
$gray-dark: #666;
$gray-medium: #999a9c;
$gray: #d8d8d8;
$gray-light: #f2f2f2;

// =========== Flash
$error: #e74c3c;
$success: #00fd86;
$info: #5e98a3;
