// =========== Brand
$cyan: #1fb6ff;
$purple: #4d3669;
$purple-light: #724df8;
$magenta: #e53d7b;
$blue: #273444;
$yellow: #fbc70b;

// =========== Blacks
$black: #333;
$gray-dark: #666;
$gray-medium: #999a9c;
$gray: #d8d8d8;
$gray-light: #f8f9fa;
$blue-light: #81818f;

// =========== Flash
$error: #e74c3c;
$success: #00fd86;
$info: #5e98a3;
