// =========== Brand
$cyan: #00e3f4;
$purple: #4d3669;
$magenta: #e53d7b;

// =========== Blacks
$black: #333;
$gray-medium: #666;
$gray: #999;
$gray-light: #f2f2f2;

// =========== Flash
$error: #f05f5c;
$success: #aab971;
$info: #5e98a3;
