// Change the URL to add Analytics identifier
window.location.hash = "<%= t('subscriber.url_message') %>";

// Show flash message
$('.flash').html('<div class="notice wrapper"><div class="notice"><%= @message %></div></div>');
Website.Flash.init();

// Send Analytics to Google
ga('send', 'event', 'Download', 'Formulario', 'Protocamp');

// Rende the page with the correct link
$(".js-subscriber-content").html($("<%= escape_javascript(render partial: 'subscribers/download') %>"));

// Reprint the share buttons on modal
FB.XFBML.parse();
twttr.widgets.load();
