// # =================================================================
// # Buttons
// # =================================================================

// # Base
// # =================================================================
.btn-default:hover{
  border-color: $magenta;
}

.btn {
  border: 3px solid $black;
  border-radius: $buttonRadius;
  line-height: 1;
  text-transform: uppercase;
  white-space: normal;
  transition: all .2s;

  // # Sizes
  // # ===========
  &.-md {
    padding: 16px 35px;
    font-size: 1rem;
  }

  &.-lg {
    padding: 20px 45px;
    font-size: 1.125rem;
  }

  // # Modifiers
  // # ===========
  &.-block {
    width: 100%;
    display: block;
  }

  // # Colors
  // # ===========
  &.-magenta {
    color: $magenta;
    background-color: transparent;
    border-color: $magenta;

    &:hover,
    &:focus {
      color: white;
      background-color: $magenta;
    }
  }

  &.-purple {
    color: $purple;
    background-color: transparent;
    border-color: $purple;

    &:hover,
    &:focus {
      color: white;
      background-color: $purple;
    }
  }

  &.-blue {
    color: $blue;
    background-color: transparent;
    border-color: $blue;

    &:hover,
    &:focus {
      color: white;
      background-color: $blue;
    }
  }

  &.-cyan {
    color: $cyan;
    background-color: transparent;
    border-color: $cyan;

    &:hover,
    &:focus {
      color: $purple-light;
      background-color: $cyan;
    }
  }
}
