.contact {
  &.-purple {
    background-color: $purple;
  }

  &.-purple-light {
    background-color: $purple-light;
  }

  &.-cyan {
    background-color: $cyan;
  }

  &.-magenta {
    background-color: $magenta;
  }

  &.-blue {
    background-color: $blue;
  }
}

// # Form colors
// # =================================================================
.home,
.works {
  .contact {
    .-magenta {
      color: $cyan;
      background-color: transparent;
      border-color: $cyan;

      &:hover,
      &:focus {
        color: $blue;
        background-color: $cyan;
      }
    }

    .btn-default:hover{
      border-color: $cyan;
    }
  }

  .has-error {
    input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
      border: 2px solid $cyan !important;
    }
  }

  .has-error .help-block,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error .control-label,
  .has-error.radio label,
  .has-error.checkbox label {
    color: $cyan;
  }
}

.services {
  .contact {
    .btn-default:hover{
      border-color: $magenta;
    }
  }

  .has-error {
    input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {
      border: 2px solid $magenta !important;
    }
  }

  .has-error .help-block,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error .control-label,
  .has-error.radio label,
  .has-error.checkbox label {
    color: $magenta;
  }
}
