.courseStripe {
  display: table;
  width: 100%;

  .courseImg,
  .courseTxt {
    display: table-cell;
    float: left;
  }

  .courseImg {
    width: 25%;
    padding-right: 20px;

    img {
      max-width: 130px;
    }
  }

  h2 {
    .small {
      color: $magenta;
    } 
  }

  .courseTxt {
    width: 75%;

    > a:hover,
    > a:focus {
      > h2 {
        color: $cyan;
        transition: all .2s !important;
      }
    }
  }
}
