footer {
  padding: 25px 0;
  vertical-align: middle;

  a {
    &:hover,
    &:focus {
      color: var(--cyan);
      transition: all .3s;
    }
  }

  span.love {
    &:hover,
    &:focus {
      span,
      i {
        color: $magenta;
        transition: all .3s;
      }
    }
  }

  i {
    font-weight: bold;
  }
}

.socialLink {
  font-size: 1.6rem;
  transition: all .2s;

  .fa-twitter {
    font-size: 1.7rem;
  }

  .fa-linkedin {
    font-size: 1.9rem;
  }

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

// colors
.quiz footer a {
  &:hover,
  &:focus {
    color: var(--orange);
  }
}

// # Media Queries
// # =================================================================
@media (max-width: 768px) {
  footer {
    .socialLinks,
    p {
      text-align: center;
      float: none !important;
    }
  }
}
