footer {
  padding: 25px 0;
  vertical-align: middle;

  p {
    float: right;

    &:hover,
    &:focus {
      span {
        color: $magenta;
        transition: all .3s;
      }
    }
  }
}

.socialLink {
  color: $purple;
  font-size: 1.6rem;
  transition: all .2s;

  &:hover,
  &:focus {
    color: $magenta;
  }

  .fa-twitter {
    font-size: 1.7rem;
  }

  .fa-linkedin {
    font-size: 1.9rem;
  }

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

// # Colors
// # =================================================================
.works {
  .socialLink {
    color: $cyan;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}


@media (max-width: 768px) {
  footer {
    .socialLinks,
    p {
      text-align: center;
      float: none;
    }
  }
}
