footer {
  padding: 25px 0;
  vertical-align: middle;

  p {
    float: right;

    span.love {
      margin-left: 20px;

      &:hover,
      &:focus {
        span,
        i {
          color: $magenta;
          transition: all .3s;
        }
      }
    }
  }

  i {
    font-weight: bold;
  }
}

.socialLink {
  color: $purple;
  font-size: 1.6rem;
  transition: all .2s;

  &:hover,
  &:focus {
    color: $magenta;
  }

  .fa-twitter {
    font-size: 1.7rem;
  }

  .fa-linkedin {
    font-size: 1.9rem;
  }

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

// # Colors
// # =================================================================
.works {
  .socialLink {
    color: $purple-light;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }

  p a {
    color: $purple-light;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.home,
.services {
  .socialLink {
    color: $magenta;

    &:hover,
    &:focus {
      color: $purple;
    }
  }

  p a {
    color: $magenta;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.blog {
  .socialLink {
    color: $blue;

    &:hover,
    &:focus {
      color: $magenta;
    }
  }
}
// # Media Queries
// # =================================================================
@media (max-width: 768px) {
  footer {
    .socialLinks,
    p {
      text-align: center;
      float: none;
    }
  }
}
