.navbar {
  border: none;
  height: 95px;
  margin-bottom: 0;
  z-index: 1040;
  top: 0;
  transition: top 0.4s ease-in-out;
}

.-up {
  top: - 95px;
}

.navbar-default {
  border-radius: 0;

  .navbar-nav > li > a {
    color: white;
    font-size: 0.875rem;
    padding: 37.5px 20px;

    &:hover,
    &:focus {
      transition: all .3s !important;
    }
  }

  .navbar-nav > li:last-of-type > a {
    padding: 37.5px 0px 37.5px 20px;
  }

  .navbar-collapse {
    border: 0;
    box-shadow: 0;

    &.collapsing,
    &.in {
      .navbar-nav > li > a {
        padding: 15px;
      }
    }
  }

  .navbar-toggle {
    border-radius: $buttonRadius;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 13px 10px;

    &:hover,
    &:focus {
      transition: all 0.2s;

      .icon-bar {
        background-color: white;
        transition: all 0.2s;
      }
    }
  }

  // # ===== Brand
  .navbar-brand {
    float: left;
    background-image: asset-url('cosmit-logo.svg');
    height: 35px;
    width: 224.5px;
    background-position: center center;
    background-size: cover;
    margin-top: 30px;

    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }
}

// # Colors
// # =================================================================

// # ===== pages
.pages {
  .navbar-default {
    background-color: $purple;

    .navbar-nav > li > a {
      color: white;

      &:hover,
      &:focus {
        color: $magenta;
      }
    }

    .navbar-collapse {
      background-color: $purple;
    }

    .navbar-toggle {
      border: 2px solid $magenta;

      .icon-bar {
        background-color: $magenta;
      }

      &:hover,
      &:focus {
        background-color: $magenta;

        .icon-bar {
          background-color: $purple;
        }
      }
    }
  }
}

// # ===== Blog & Home
.home,
.blog {
  .navbar-default {
    background-color: $blue;

    .navbar-nav > li > a {
      color: white;

      &:hover,
      &:focus {
        color: $magenta;
      }
    }

    .navbar-collapse {
      background-color: $blue;
    }

    .navbar-toggle {
      border: 2px solid $magenta;

      .icon-bar {
        background-color: $magenta;
      }

      &:hover,
      &:focus {
        background-color: $magenta;

        .icon-bar {
          background-color: $blue;
        }
      }
    }
  }
}

// # ===== Blog & Home
.home {
  .navbar-default {
    .navbar-nav > li > a {

      &:hover,
      &:focus {
        color: $cyan;
      }
    }

    .navbar-toggle {
      border: 2px solid $cyan;

      .icon-bar {
        background-color: $cyan;
      }

      &:hover,
      &:focus {
        background-color: $cyan;

        .icon-bar {
          background-color: $blue;
        }
      }
    }
  }
}

// # ===== Works
.works {
  .navbar-default {
    background-color: $purple-light;

    .navbar-nav > li > a {
      color: white;

      &:hover,
      &:focus {
        color: $cyan;
      }
    }

    .navbar-collapse {
      background-color: $purple-light;
    }

    .navbar-toggle {
      border: 2px solid $cyan;

      .icon-bar {
        background-color: $cyan;
      }

      &:hover,
      &:focus {
        background-color: $cyan;

        .icon-bar {
          background-color: $purple-light;
        }
      }
    }
  }
}

// # ===== Services
.services {
  .navbar-default {
    background-color: $purple;

    .navbar-nav > li > a {
      color: white;

      &:hover,
      &:focus {
        color: $magenta;
      }
    }

    .navbar-collapse {
      background-color: $purple;
    }

    .navbar-toggle {
      border: 2px solid $magenta;

      .icon-bar {
        background-color: $magenta;
      }

      &:hover,
      &:focus {
        background-color: $magenta;

        .icon-bar {
          background-color: $purple;
        }
      }
    }
  }
}
