.navbar {
  border: none;
  height: 85px;
  margin-bottom: 0;
  z-index: 1040;
  top: 0;
  transition: top 0.4s ease-in-out;
}

.-up {
  top: -85px;
}



.navbar-default {
  border-radius: 0;

  .navbar-nav > li > a {
    color: white;
    font-size: 0.875rem;
    padding: 32.5px 20px;

    &:hover,
    &:focus {
      transition: all .3s !important;
    }
  }

  .navbar-nav > li:last-of-type > a {
    padding: 32.5px 0px 32.5px 20px;
  }

  .navbar-collapse {
    border: 0;
    box-shadow: 0;

    &.collapsing,
    &.in {
      .navbar-nav > li > a {
        padding: 15px;
      }
    }
  }

  .navbar-toggle {
    border-radius: $buttonRadius;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 13px 10px;

    &:hover,
    &:focus {
      transition: all 0.2s;

      .icon-bar {
        background-color: white;
        transition: all 0.2s;
      }
    }
  }

  .navbar-nav > li > a {
    color: white;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }

  .navbar-toggle {
    border: 2px solid $cyan;

    .icon-bar {
      background-color: $cyan;
    }

    &:hover,
    &:focus {
      background-color: $cyan;

      .icon-bar {
        background-color: $blue;
      }
    }
  }

  // # ===== Brand
  .navbar-brand {
    float: left;
    background-image: asset-url('cosmit-logo.svg');
    height: 35px;
    width: 224.5px;
    background-position: center center;
    background-size: cover;
    margin-top: 25px;

    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }
}

