.newsletter {
  background-color: $gray-light;
  padding: 70px 0;
}

@media (max-width: 768px) {
  .newsletter {
    .btn {
      display: block;
      width: 100% !important;
      float: left;
    }
  }
}
