// # =================================================================
// # Page Hero
// # =================================================================
.pageHero {
  .heroContainer {
    position: relative;
    background: transparent asset-url('stars-pattern.png') repeat 60px 50px;
  }

  .subtitle {
    font-size: 1.3125rem;
    line-height: 1.5em;
  }
}

// # Media Queries
// # =================================================================
@media (max-width: 360px) {
  .pageHero {
    h1 {
      font-size: 1.9rem;
    }
  }
}
