// # =================================================================
// # Page Hero
// # =================================================================
.pageHero {
  .heroContainer {
    height: 100vh;
    position: relative;
    background: transparent url('stars-pattern.png') repeat 60px 50px;

    &.-internal {
      height: 75vh;
    }
  }

  h1 {
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 1.3125rem;
    line-height: 1.5em;
  }
}

// # Media Queries
// # =================================================================
@media (max-width: 768px) {
  .pageHero {
    h1 {
      margin-bottom: 15px;
    }

    .btn {
      margin-top: 0px !important;
    }

    &.-error {
      .btn {
        width: 100%;
        display: block;
        margin-left: 0 !important;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 360px) {
  .pageHero {
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}
