.processBox {
  background-color: $gray-light;
  border-radius: $boxRadius;
  margin-bottom: 15px;
  min-height: 355px;
  padding: 30px;
}

@media (max-width: 1199px) {
  .processBox {
    min-height: 439px;
  }
}

@media (max-width: 767px) {
  .processBox {
    min-height: auto;

    .u-h1 {
      margin-top: 0px !important;
    }

    .boxTitle {
      min-height: auto;
    }
  }
}
