.serviceBox {
  background-color: $gray-light;
  border-radius: $boxRadius;
  margin-bottom: 30px;
  min-height: 430px;
  padding: 30px;

  .boxTitle {
    min-height: 70px;
  }

  > a:hover,
  > a:focus {
    > h2 {
      color: $cyan;
      transition: all .2s !important;
    }
  }

  &.-en {
    min-height: 400px;
  }
}

.serviceIcon {
  width: 80px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.boxList {
  font-size: 0.875rem;
  line-height: 1.9em;
  list-style: none;
  margin-bottom: 0;

  li {
    vertical-align: middle;
    margin-left: -10px;

    &:before {
      color: #bbb;
      content: "・ ";
      font-size: 1.5rem;
      line-height: 1em;
      margin-left: -5px;
      margin-right: -5px;
      display: table-cell;
    }

    a {
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      line-height: 1.3em;
      color: $blue;

      &:hover{
        text-decoration: underline;
        color: $cyan;
      }
    }

    h2 {
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      line-height: 1.3em;
      font-size: 0.875rem;
      margin: 0;
    }
  }
}

@media (max-width: 1199px) {
  .serviceBox {
    min-height: 510px;
  }
}

@media (max-width: 767px) {
  .serviceBox {
    min-height: auto !important;

    .boxTitle {
      min-height: auto !important;
    }
  }
}
