// Change the URL to add Analytics identifier
window.location.hash = "<%= t('newsletter.url_message') %>";

// Show flash message
$('.flash').html('<div class="notice wrapper"><div class="notice"><%= @message %></div></div>');
Website.Flash.init();

// Send Analytics to Google
ga('send', 'event', 'Newsletter', 'Inscrição', 'Inscrição na Newsletter');

// Rende the page with the correct link
$(".js-newsletter-content").html($("<%= escape_javascript(render partial: 'newsletter/thankyou') %>"));
